@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F54FB34D-1E5D-415F-8141-B6719ACF18CA

//npm.greensock.com/:_authToken=57081b2b-8564-4514-a9a4-93423bd96436
@gsap:registry=https://npm.greensock.com