@import './variables';
@import './bootstrap';
@import './bootstrap-overrides';
@import './utils';
@import './mixins';

@import './animations/page';
@import './animations/nav';
@import './animations/drop';
@import './animations/fade';

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

// .btn-somnilog {
//   color: $white;
//   display: flex;
//   align-items: center;
//   background: transparent;
//   border-radius: none;
//   font-size: 1rem;
//   text-transform: uppercase;
//   text-decoration: none;
//   transition: 300ms all ease-out;

//   &:hover {
//     color: $dark;
//     background-color: transparent;
//   }
// }

.underline {
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 15px;
    background: $secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

:root {
  // Set current container width as CSS variable to use in CSS properties.
  --container-width: 0;

  @each $breakpoint, $width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      --container-width: #{$width};
    }
  }
}
