@keyframes navIn {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes navOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@include make-transitions(nav);
